body{
color: white;
}
/* ::-webkit-scrollbar{
    display: none;
} */
body::-webkit-scrollbar{
    display: none;
}
::-webkit-scrollbar {
    width: 12px;
}
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.859); 
    -webkit-border-radius: 10px;
    border-radius: 10px;
}
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: red; 
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
::-webkit-scrollbar-thumb:window-inactive {
	background: red; 
}
.card{
    box-shadow: 6px 6px 10px rgba(0, 0, 0, 0.582);
    background: rgba(0, 0, 0, 0.323);
}
.card-body,.list-group-item{
    background: rgba(0, 0, 0, 0.323);
}
.card-link{
    color: rgb(0, 255, 26);
}
.card-footer{
    color: rgb(255, 255, 255);
    background:linear-gradient(to top,rgba(0, 0, 0, 0.474),rgba(0, 0, 0, 0.167));
}
.game-font{
    /* font-family: fantasy; */
    letter-spacing: .1rem;
    text-transform: uppercase;
}
@media (max-width:900px) {
    .game-font{
        font-size: 20px;
    }
}
.count{
    margin: 0 auto;
    padding: 15px 0px;
    display: flex;
    opacity: 0;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    letter-spacing: .2rem;
    line-height: 1.7rem;
}
@media (max-width:700px) {
    .count{
    display: none;
       left: 0;
       right: 0;
       top: 5px;
    }
    ::-webkit-scrollbar{
        display: none;
    }
}
#load{
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    height: 100vh;
    animation: load 4s;
    background-color: #c20000;
    z-index: 999999999;
}
#se{
   position: relative;
   right: 0;
   top: 0;
}
#bg-2{
    background: #c20000;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    height: 100vh;
}
#main-nav{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 999;
    background: black;
    box-shadow: 0px 2px 16px rgba(0, 0, 0, 0.699);
}
#menu-button{
    margin-right: 10px;
    position: absolute;
    right: 24px;
    top: -10px;
    border: none;
}
#menu{
    border: none;
    width: 70px;
}
.container2{
    overflow-x: hidden;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
#search-item{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
}
#search-item::placeholder {
    color: rgb(255, 255, 255);
    letter-spacing: .3rem;
    text-transform: uppercase;
    font-size: 12px;
}
  
#search-item:-ms-input-placeholder {
    color: rgb(255, 255, 255);
    text-transform: uppercase;
}
  
#search-item::-ms-input-placeholder {
    color: rgb(255, 255, 255);
    text-transform: uppercase;
}
.container1{
    background: url('images/red.jpg');
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}
.center-scroll{
    margin-top: 400px;
    padding-bottom: 300px;
    position: relative;
    top: 180px;
    right: 0;
    left: 0;
}
@media (max-width:700px) {
    .center-scroll{
        position: relative;
        top: 140px;
        right: 0;
        left: 0;
    }   
    #alert{
        position: fixed;
        height: 100% !important;
        width: 100% !important;
        top: 0 !important;
        padding: 0px 20px;
        right: 0;
        left: 0;
        z-index: 9999;
        background-color: rgba(0, 0, 0, 0.878);
        box-shadow: 4px 4px 18px black;
    }
    .alert-text{
        position: relative;
        top: 0;
        bottom: 0;
        z-index: 999999;
        color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .welcome{
        font-size: 40px;
        top: 180px !important;
    }
    .welcome2{
        top: 180px !important;
    }
}
#alert{
    position: fixed;
    margin: 0 auto;
    height: 50%;
    width: 50%;
    top: 200px;
    right: 0;
    left: 0;
    z-index: 999999;
    background-color: rgba(0, 0, 0, 0.878);
    box-shadow: 4px 4px 18px black;
}
.alert-text{
    position: relative;
    top: 100px;
    bottom: 0;
    z-index: 999999;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.welcome{
    position: relative;
    top: 165px;
    left: 0;
    right: 0;
    z-index: 1;
    letter-spacing: 1.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-shadow: 4px 4px 5px rgb(0, 0, 0);
}
.welcome2{
    position: relative;
    top: 165px;
    left: 0;
    right: 0;
    z-index: 1;
    letter-spacing: .5rem;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    text-shadow: 4px 4px 5px rgb(0, 0, 0);
}
.request{
    position: fixed;
    bottom: 10px;
    left: 10px;
    text-transform: uppercase;
    letter-spacing: .2rem;
    line-height: 1.2rem;
    font-size: 15px;
    z-index: 999999;
}
.request a{
    color: white;
    text-decoration: none;
    transition-duration: 1s;
}
.request a:hover{
    color: rgb(228, 235, 18);
}
@media (max-width:700px) {
    .request{
        display: none;
    }
}
footer{
    background: rgba(0, 0, 0, 0.304);
}
.footer-center p{
   letter-spacing: .5rem;
   text-transform: uppercase;
   font-size: 40px;
}
form label{
    letter-spacing: .2rem;
}
form input{
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.415);
}
form textarea{
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.455);
}
form button{
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.319);
    letter-spacing: .2rem;
}
.footer-center2 p{
    letter-spacing: .2rem;
    line-height: 1.7rem;
    text-transform: uppercase;
}
.sup a{
    letter-spacing: .2rem;
    line-height: 1.4rem;
    text-transform: uppercase;
    color: white;
    text-decoration: none;
    border-bottom: 1px solid rgb(255, 0, 0);
    padding-bottom: 2px;
    display: none;
}
@media (max-width:991px) {
    .sup a{
        display: block;
    }
}

progress {
    position: fixed;
    top: 180px;
    left: 0;
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 45px;
    border: none;
    background: transparent;
  }
  progress::-webkit-progress-bar {
    background: transparent;
  }
  progress::-webkit-progress-value {
    background: linear-gradient(to left, #db38b5,#01b3e3,#25ce7b,#fdc741,#ff6b01,#fc4236);
    background-attachment: fixed;
  }
  progress::-moz-progress-bar {
    background: linear-gradient(to left, #db38b5,#01b3e3,#25ce7b,#fdc741,#ff6b01,#fc4236);
    background-attachment: fixed;
  }
  